<div class="" ng-controller="workSiteController as $ctrl">
  <div>
    <table class="table">
      <thead>
        <th>工程名稱</th>
        <th>狀態</th>
        <th>異常數</th>
        <th>處理數</th>
      </thead>
      <tbody>
        <tr ng-repeat="p in programeList">
          <td>
            <a href="#/" ng-href="{{p.url}}">
              {{p.name}}
            </a>
          </td>
          <td>
            {{p.activeList.length>0?"異常":"正常"}}
          </td>
          <td>
            <a href="#/" class="text-danger" ng-click="$ctrl.open('lg',p.activeList,0)">
              {{p.activeList.length}}
            </a>
          </td>
          <td>
            <a href="#/" class="text-success" ng-click="$ctrl.open('lg',p.closedList,1)">
              {{p.closedList.length}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- modal -->
    <div ng-controller="workSiteController as $ctrl" class="modal-demo">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">中華工程IoT自動回報系統</h3>
            </div>
            <div class="modal-body" id="modal-body">
              <div style="max-height:450px;overflow-y:auto">
                <table class="table">
                  <thead>
                    <!-- <th>{{$ctrl.alarms.type}}</th> -->
                    <th>警報來源</th>
                    <th>處理狀態</th>
                    <th>警報次數</th>
                    <th>起始時間</th>
                    <th>更新時間</th>
                    <th>操作</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="p in $ctrl.alarms.list">
                      <!-- <td>
                        <a href="#/" ng-href="{{p.url}}">
                          {{p.type}}
                        </a>
                      </td> -->
                      <td>{{p.source.name}}</td>
                      <td>
                        {{p.text}}
                      </td>
                      <td>{{p.count}}</td>
                      <td>
                          {{p.creationTime|date:'yyyy-MM-dd hh:mm:ss'}}
                      </td>
                      <td>
                          {{(p.firstOccurrenceTime?p.firstOccurrenceTime:p.creationTime)|date:'yyyy-MM-dd hh:mm:ss'}}
                      </td>
                      <td>
                        <!-- <span style="cursor:pointer;color:coral" ng-click="$ctrl.showMore(p,0)">
                          <i c8y-icon="exclamation-circle" class="fa fw fa-exclamation-circle fa-lg"></i>
                        </span> -->
                        <span style="cursor:pointer;color:seagreen" ng-click="$ctrl.showMore(p,1)">
                          <i c8y-icon="exclamation-circle" class="fa fw fa-circle fa-lg"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

                <div ng-show="$ctrl.showHistory[0]" class="well">
                  <!-- {{$ctrl.currentInfo}} -->
                  <p>狀態：{{$ctrl.currentInfo.status=="CLEARED"?"已处理":"处理中"}}</p>
                  <p>類型：{{$ctrl.currentInfo.type}}</p>
                  <p>報警內容：{{$ctrl.currentInfo.text}}</p>
                  <p>觸發次數：{{$ctrl.currentInfo.count}}</p>
                </div>
                <div ng-show="$ctrl.showHistory[1]" class="well">
                  <!-- <p>參考文件:
                    <a ng-href='{{$ctrl.SOPs[$ctrl.currentInfo.type].url}}'>{{$ctrl.SOPs[$ctrl.currentInfo.type].url}}</a>
                  </p> -->
                  <p>參考文件:
                    <span ng-bind-html="$ctrl.SOPs[$ctrl.currentInfo.type].url"></span>
                  </p>
                  <p>SOP:</p>
                  <ul>
                    <li ng-repeat="p in $ctrl.SOPs[$ctrl.currentInfo.type].sop.split(';')">{{p}}</li>
                  </ul>
                  <p>處理記錄</p>
                  <ul style="max-height:250px;overflow-y:auto">
                    <li ng-repeat="q in $ctrl.currentInfo.history|filter:{'type':'Alarm'}">
                      <span class="pull-left">{{{'Alarm created':'處理進度','Alarm updated':'處理進度','Alarm cleared':'處理進度'}[q.activity]+" | 详情："+q.text}}</span>
                      <span class="pull-right">{{q.user}}</span>
                      <span class="pull-right">{{q.creationTime|date:'yyyy-MM-dd hh:mm:ss'}}</span>
                    </li>
                  </ul>
                  <hr style="border-color:#999" ng-show="$ctrl.currentInfo.status!='CLEARED'">
                  <div class="row" ng-show="$ctrl.currentInfo.status!='CLEARED'">
                    <!-- <div class="col-sm-3">
                      <input ng-model="$ctrl.editor" placeholder="輸入人"/>
                    </div> -->
                    <div class="col-sm-9">
                      <textarea ng-model="$ctrl.content" placeholder="處理內容輸入" rows="3" class="col-sm-12"></textarea>
                    </div>
                    <div class="col-sm-3">
                      <button class="btn btn-success col-sm-12" ng-click="$ctrl.save(0)">送出</button>
                      <button class="btn btn-danger col-sm-12" ng-click="$ctrl.save(1)">結案</button>
                    </div>
                  </div>

                </div>
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">關閉</button>
            </div>
        </script>
        <!-- <script type="text/ng-template" id="stackedModal.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
            </div>
            <div class="modal-body" id="modal-body-{{name}}">
                Having multiple modals open at once is probably bad UX but it's technically possible.
            </div>
        </script> -->
        <!-- <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div> -->
        <div class="modal-parent">
        </div>
    </div>
    <!-- modal end -->
  </div>
</div>
