div.navigator h1.title {
  background-image: url('img/logo-nav.png')!important;
  background-position: 0;
  background-color: initial;
}

.mainlogo {
  background-image: url('img/logo-load.png')!important;
  // width: 400px!important;
  // max-height: 306px;
  padding-bottom:60%;
}
