<div ng-controller="iconmapController">
	<!-- <div  class="form-group">
		<p class="well" ng-repeat="x in newObj">{{x.name}}:<br/>url:<input style="width:95%;float:right" class="form-control" type="text" ng-model="x.url"/><br/>sop:<input style="width:95%;float:right" class="form-control" type="text" ng-model="x.sop"/></p>
		<input type="button" class="btn btn-lg btn-danger" value="保存" ng-click="saveInventory()"/>
	</div> -->
	<div class="form-group" ng-repeat="x in newObj">
	<p style="margin-left:10px">{{x.name}}</p>
	<label for="" class="col-sm-1 control-label">url</label>
		<div class="col-sm-11">
			<input type="text" ng-model="x.url" class="form-control" id="" placeholder="">
		</div>
	<label for="" class="col-sm-1 control-label">sop</label>
		<div class="col-sm-11">
			<input type="text" ng-model="x.sop" class="form-control" id="" placeholder="">
		</div>
	</div>
	<div class="col-sm-12 text-center">
		<input type="button" class="btn btn-danger" value="保存" ng-click="saveInventory()"/>
	</div>
</div>
